<div class="container" style="margin-top: 105px">
  <div class="image-section" style="object-fit: cover;">
    <img
      [src]="imagePath"
      alt=" LogIn image"
      
    />
  </div>

  <div class="form-section">
    <h2 class="heading" style="color: #f20f0f">Log In</h2>
    <form class="form">
      <input type="Text" class="input" placeholder="FullName" />
      <input type="Number" class="input" placeholder="RollNumber" />
      <input type="text" class="input" placeholder="Username" />
      <input type="password" class="input" placeholder="Password" />
      <span class="forgot-password"><a href="#">Forgot password?</a></span>
      <button class="login-button">Log In</button>
    </form>
  </div>
</div>
