<!-- <div class="container-fluid">
    <form [formGroup]="frmRegister" (submit)="Register(frmRegister.value)">
        <h2>Registration form</h2>
        <dl>
            <dt>Name</dt>
            <dd>
                <input type="text" formControlName="Name" >
            </dd>
            <dd class="text-danger" *ngIf="Name.touched && Name.invalid">
                <p *ngIf="Name.errors?.['required']">Name is mandatory</p>
                <p *ngIf="Name.errors?.['minlength']">Name must have min 4 characters</p>
            </dd>
        </dl>
    </form>
</div>       -->
